.heading {
    font-family: 'Outfit', sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

.name {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1%;
    text-align: center;
}

.register input {
    border: none;
    border: solid 2px lightgrey;
    border-radius: 5px;
}

.ans {
    text-align: center;
}

.submit {
    background-color: lightblue;
    color: rgb(26, 24, 24);
    font-weight: 900;
}

#submit {
    margin-top: 1%;
}

#spl {
    display: flex;
    justify-content: center;
    align-items: center;
}